mat-form-field {
  width: 100% !important;
}

mat-card {
  height: 200px !important;

  /*padding: 0 !important;*/
}

.header {
  font-size: 1.2rem;

  padding: 15px 0;

}

mat-card-actions {
  background-color: cornflowerblue !important;
}

.card-row {
  width: 100%;

  text-align: left;
}
