<div class="content"
     fxLayout="row" fxLayoutAlign="space-around start"
     fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="start center">

  <app-card
    (onAdd)="emitParentPost($event)"
    [externalString]="childText"
    [role]="'parent'">
  </app-card>

  <app-card
    (onAdd)="emitChildPost($event)"
    [externalString]="parentText"
    [role]="'child'">
  </app-card>

  <button mat-icon-button class="back-button" [routerLink]="['/']">
    <mat-icon>arrow_back</mat-icon>
  </button>

</div>
