<mat-card class="mat-elevation-z3"
          fxLayout="column" fxLayoutAlign="start center">
  <div class="card-row header">

    Введите текст

  </div>

  <div class="card-row">

    <mat-form-field appearance="outline">

      <mat-label>Текст</mat-label>
      <input matInput #cardInput>

    </mat-form-field>

  </div>

  <div class="card-row">

    <div style="margin-bottom: 15px">{{externalString}}</div>

  </div>

  <div class="card-row">

    <div style="margin-bottom: 15px">{{behaviorText}}</div>

  </div>

  <div class="card-row">
    <button mat-raised-button color="primary" (click)="sendMessage()">Передать</button>
  </div>
</mat-card>
